<ul class="nav navbar-nav navbar-right">
    <li class="dropdown"  dropdown>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i> {{vm.usuario.nome}} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href ng-click="vm.cadastroUsuarioLogado()" ><i class="fa fa-newspaper-o"></i>Cadastro</a>
            </li>
            <li>
                <a href ng-click="vm.alterarSenha()" ><i class="fa fa-key"></i>Trocar Senha</a>
            </li>
            <li>
                <a href ng-click="vm.logoff()" ><i class="fa fa-sign-out"></i>Sair do Sistema</a>
            </li>
        </ul>                    
    </li>
</ul>
